/*Template
.member-3-YXUe[user_by_bdfdb="273797150880563201"] .inner-dA0J42::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url("https://cdn.discordapp.com/emojis/694418553662865428.png?v=1") center / 100% 100%;
}*/

/* me0nline */
.member-3-YXUe[user_by_bdfdb="281140295729676309"] .inner-dA0J42::before {
    content: "";
    width: 12px;
    height: 16px;
    margin-left: 4px;
    background: url("https://cdn.discordapp.com/emojis/595343205654855705.png?v=1") center / 100% 100%;
}

/* Alex_ */
.member-3-YXUe[user_by_bdfdb="292588280304893952"] .inner-dA0J42::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url("https://cdn.discordapp.com/emojis/705446016010420347.gif?v=1") center / 100% 100%;
}

/* Basti */
.member-3-YXUe[user_by_bdfdb="273797150880563201"] .inner-dA0J42::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url("https://cdn.discordapp.com/emojis/521001261043286046.gif?v=1") center / 100% 100%;
}

/* DieKatze */
.member-3-YXUe[user_by_bdfdb="292588280304893952"] .inner-dA0J42::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url("https://cdn.discordapp.com/emojis/705446016010420347.gif?v=1") center / 100% 100%;
}

/* Yeet_Bounty */
.member-3-YXUe[user_by_bdfdb="630135338072932364"] .inner-dA0J42::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url("https://cdn.discordapp.com/emojis/620144695649239041.gif?v=1") center / 100% 100%;
}