.member-3-YXUe[user_by_bdfdb="281140295729676309"] .inner-dA0J42::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url("https://cdn.discordapp.com/emojis/760688833158840361.png?v=1") center / 100% 100%;
}